{
  "RCON_IP": "YOUR RCON IP HERE",
  "RCON_PORT": "YOUR RCON PORT HERE DEFAULT IS 25575",
  "RCON_PASSWORD": "YOUR RCON PASSWORD",
  "PATH_LOG_FILE": "PATCH TO YOUR latest.log FILE (SERVER FOLDER/LOG)",
  "PATH_CRAFTING_FOLDER": "PATH TO YOUR CRAFTING IMAGES",
  "TELEGRAM_GROUP_ID": "ID TO YOUR GROUP (PREVENS UNHAUTORICED USE)",
  "BOT_TOKEN": "YOUR BOT TOKEN (TALK TO FATHER BOT)"
}